.orange {
    color: orange;
}

h1 {
    color: rgb(125, 116, 116);
    font-size: 80px;
}

h2 {
    font-size: 50px;
    color: rgb(125, 116, 116);
}

p {
    color: gray;
    font-size: 20px;
}

.link-button {
    color: white;
    font-size: large;
    font-weight: 700;
    background-image: linear-gradient(to right, orange, tomato);
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 40px;
    cursor: pointer;

}

.link-button :hover {
    color: black;
    text-transform: uppercase;
    background-image: linear-gradient(rgba(36, 214, 36, 0.738), rgb(49, 103, 49));
}

.flexible {
    display: flex;
}

.set-div {
    width: 60%;
    margin: 5px 5px;
    padding-left: 100px;

}

.set-div img {
    width: 100%;
}


#pic2 {
    width: 60%;
    height: auto;
}



.section2 {

    background-image: url(images/shapes/Frame\ 59.jpg);
    background-size: auto;

}

.set-align h2,
p {
    text-align: center;
}

.box {
    box-shadow: 5px 5px 30px rgba(97, 89, 89, 0.375);
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    padding-left: 20px;
    border: 20px solid white;
    border-radius: 10px;
    text-align: left;
}

.padding {
    margin-top: 50px;
    padding-left: 5px;

}

.last-box {

    padding-left: 10%;
    padding-right: 10%;
}

.next-box {
    box-shadow: 0px 0px 30px rgba(97, 89, 89, 0.375);
    width: 86%;
    margin-left: 5%;
    padding-left: 20px;
    border: 20px solid white;
    border-radius: 10px;

}

.last-section-color {
    background-color: darkslategrey;
}